:root{
  --swiper-pagination-top: auto;
  --swiper-pagination-bottom: 0;
}
.swiper {
  width: 1066px;
  height: 560px;
  margin-bottom: 50px;
}

.swiper-slide{
  margin: auto;
}

.swiper-slide-link{
  position: relative;
  background-size: auto;
}

.swiper-slide-title{
  position: absolute;
  width: 100%;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
}



.swiper-slide-wrapper{
  margin: auto;
  width: 940px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-slide-img {
  width: 297px;
  border-radius: 20px;
  z-index: 100;
  transition: 0.3s;
  &:hover{
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35);
    transform: translateY(-6px);
  }
}

.swiper-slide-img:hover.swiper-slide-title{
  color: orange;
}

.sample-slider .swiper-pagination{
  bottom: initial;
  top: 30px;
}

.swiper-pagination-bullet{
  background-color: var(--gray-color);
}
.swiper-pagination-bullet-active{
  background-color: var(--gray-color);
}
.swiper-button-prev{
  color: var(--gray-color);
}
.swiper-button-next{
  color: var(--gray-color);
}

