:root{
  --swiper-pagination-top: auto;
  --swiper-pagination-bottom: 40px;
  --swiper-navigation-size: 30px;
}
.swiper {
  width: 960px;
  height: 540px;
  margin-bottom: 50px;
  padding-top: 6px;
  @media (max-width: 1000px ) {
    width: 630px;
  }
  @media (max-width: 670px ) {
    width: 320px;
  }
  @media (max-width: 370px ) {
    width: 260px;
    height: 490px;
  }
}

.swiper-slide{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.swiper-slide-title{
  position: absolute;
  width: 100%;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
}


.swiper-slide-img {
  width: 297px;
  border-radius: 20px;
  z-index: 100;
  transition: 0.3s;
  cursor: pointer;
  &:hover{
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35);
    transform: translateY(-6px);
  }
  @media (max-width: 370px ) {
    width: 260px;
  }
}

.swiper-slide-img:hover.swiper-slide-title{
  color: orange;
}

.swiper-pagination-bullet{
  background-color: var(--gray-color);
  margin-inline: 8px !important;
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet-active{
  background-color: var(--gray-color);
}
.swiper-button{
  position: absolute;
}

.swiper-button-prev{
  color: var(--gray-color);
  top: 490px;
  @media (max-width: 370px ) {
    top: 440px;
  }
}
.swiper-button-next{
  color: var(--gray-color);
  top: 490px;
  @media (max-width: 370px ) {
    top: 440px;
  }
}

