:root {
  --light-yellow-color: #FDF8ED;
  --light-gray-color: #E5E5E5;
  --light-blue-color: #70D5F1;
  --yellow-color: #FCBE5A;
  --orange-color: #FD613F;
  --blue-color: #70D5F1;  
  --gray-color: #2D2D2D; 
  --black-color: #000000;
  --white-color: #f3f2f2;
}